{% extends "layout.html" %}
{% block body %}
<h1>Current</h1>
<ul class="hosts">
  {% for host in current_hosts|sort(attribute='hostname') %}
  <li><h3>{{ host.hostname }}: {{ host.status }}</h3>
  {{ host.timestamp }}
  {% else %}
  <h3>No hosts currently building</h3>
  {% endfor %}
</ul>
<h1>Pending</h1>
<ul class="hosts">
  {% for host in pending_hosts|sort(attribute='hostname') %}
  <li><h3>{{ host.hostname }}: {{ host.status }}</h3>
  {% else %}
  <h3>No hosts pending</h3>
  {% endfor %}
</ul>
{% endblock %}
